#form-login {
    margin-top: 50px;
}
#logo {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
#entrar {
    background-color: #00213c;
    margin-top: 30px;
}
#form{
    margin-top: 20px;
}
#link{
    align-items: center;
    margin-top: 10px;
}
#form-cadastro{
    border: 25px ;
    border-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;   
}
#sidebar{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    max-width: 250px;
}
#sidebar-subitem-text {
    font-size: 0.8rem;
  }